/*
对Input框的高度等内容进行修改
*/
#username,#password,#userID,#ensurePassword{
    display: block;
    width: 352px;
    height: 48px;
    line-height: 48px;
    font-weight: 400 !important;
    font-size: 16px;
    overflow: hidden;
    margin-top: 24px;
    outline: none;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #bbccee7c;
    color:#121212 !important;
}
#username:focus,#password:focus,#userID,#ensurePassword{
    box-shadow: none;
    outline: none;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #bbccee7c;
}